@font-face {
    font-family: "Zero";
    src: url('../fonts/ZeroZeroIs.woff2') format('woff2'), url('../fonts/ZeroZeroIs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}